.nisa
{
	border: 1px solid #ccc;
}

.adj
{
	height: 27px;
}

.adj-logo
{
	height: 70px;
}

.search
{
	text-align: center;
	color: #737373;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 26px;
}

.banner
{
	list-style: none;
	margin-bottom: 0px;
	text-align: center;
	padding-left: 0px;
}

.banner li
{
	display: inline-block;
	margin: 0px 15px;
	padding: 8px 8px;

}

.banner li:nth-child(odd)
{
	font-size: 26px;
	color: #404040;
}

.banner li:nth-child(even)
{
	color: #404040;
	font-weight: bold;
}

/*
custom css
*/


body
{
	background-color: #f6f6f6;
}
.container
{
	width: 80%;
}
.subheader
{
	margin-top: 10px;
}
header nav.navbar-default
{
	background-color: #0087bd;
}
.logo
{
	width: 60%;
}
.navbar-default .navbar-nav > li > a
{
	color: #fff;
	font-size: -2px;
}
.content
{
	margin-top: 20px;
}
.right-bar
{
	background-color: #e8e8e8;
}