.nisa
{
	border: 1px solid #ccc;
}

.adj
{
	height: 27px;
}



.search
{
	text-align: center;
	vertical-align: bottom;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 42px;
}
.search a
{
	padding: 2px;
	border-bottom: 2px solid;
	text-decoration: none;
	color: #737373;
}

.text-block
{
	padding: 0
}

.banner
{
	list-style: none;
	margin-bottom: 0px;
	text-align: center;
	padding-left: 0px;
}

.banner li
{
	display: inline-block;
	margin: 0px 15px;
	padding: 8px 8px;

}

.banner li:nth-child(odd)
{
	font-size: 26px;
	color: #404040;
}

.banner li:nth-child(even)
{
	color: #404040;
	font-weight: bold;
}

/*
custom css
*/


body
{
	background-color: #f6f6f6;
}
.container
{
	width: 80%;
	/*max-width: 1024px;*/
}
.subheader
{
	margin: 15px;
	padding: 0;
	border: 2px solid #acacac;
}
header .navbar-default
{
	background-color: #0087bd;
	padding-top: 5px;
}
header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li>a:focus , header .navbar-default .navbar-nav>li>a.active, header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:hover, header .navbar-default .navbar-nav>.active>a:focus
{
	color: #fff;
	
	border-bottom: 2px solid #fff;
	background-color: transparent;
}

header .navbar-nav>li>a
{
	padding: 0 5px;
}
.logo
{
	width: 70%;
}
header .navbar-default .navbar-nav > li > a
{
	color: #fff;
	font-size: -2px;
}
.content
{
	margin-top: 20px;
}
.description
{
	margin: 0;
	background-color: #FFF;
}
.description .data
{
	padding-left: 50px;
}
.heart-icon
{
	width: 50%;
	padding-top: 5px;	
}
.desc-link
{
	
	padding: 2px 3px;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
	background-color: #3a98c8;
}
.desc-link:hover, .desc-link:active, .desc-link:focus
{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}
.buy-session
{
	width: 100%;
}
.know-more
{
	width: 50%;
}

.right-bar
{
	background-color: #e8e8e8;
	margin-bottom: 15px;
}
.img-container
{
	position:relative;
    display:inline-block;
    text-align:center;
    margin: 10px;
    font-size: 
}
.img-overlay {
    position: absolute;
    color: #fff;
    width: 100%; 
    bottom: 0;
    background-color:rgba(55,55,55,0.5);
}

footer{
	background-color: #e8e8e8;

}
.footermenu
{
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



