@font-face {
font-family: MuseoSans;
src: url("../fonts/MuseoSans_500.otf") format("opentype");
}

/*/*body
body {
font-family: "MuseoSans",Helvetica,Arial,sans-serif;
font-size: 14px;
}*/


/*for header*/

.container
{
width:960px;
}


/* for Nav */

.navbar-default
{
	background-color: #FFFFFF;
	border:none;
}
ul.navbar-nav
{
	background-color: #FFFFFF;
	list-style: circle outside none !important;
}
ul.navbar-nav >li
{
	background-color: #FFFFFF;
	display: list-item;
	list-style:disc;
	font-size: 12px;
	font-family: "MuseoSans";
	color: #6a6a6a;

}
ul.navbar-nav >li:first-child
{
	list-style:none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
	background-color: #FFFFFF;
	border-top: #e27171 solid 5px;
}
.navbar-nav>li>a
{
	border-top: #fff solid 5px;
	position: relative;
	left: -10px;
}




/* For carousel*/
.carousel-control.right
{
	background-image: none;

}
.carousel-control.left
{
	background-image: none;
	
}
.carousel-control .icon-next:before
{
	content: url("../img/right_red_arrow.png");

}
.carousel-control .icon-prev:before
{
	content: url("../img/left_red_arrow.png");

}
.carousel-indicators .active 
{
	background-color: #939393;
	border: none;
	height: 10px;
	width: 10px;
	margin: 1px;

}
.carousel-indicators li 
{
	border: none;
	height: 10px;
	width: 10px;
	background-color: #DDDDDD;

}




/* *** For tabs-grid  ***  */

.tabs-grid .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
	background-color: #a6cc81;
	color: #FFFFFF;
}
.tabs-grid .nav-pills > li > a
{
	border-radius: 0;
	background-color: #dadada;
	color: #434343;
}

.tabs-grid .caret
{
	 position: absolute;
	 border-width: 7px 7px 0;
	 border-color: #fff rgba(0, 0, 0, 0) -moz-use-text-color;
	 border-color: #fff rgba(0, 0, 0, 0);
	 margin-left: 40%;
}

.tabs-grid .active .caret
{
	 position: absolute;
	 border-width: 7px 7px 0;
	 border-bottom-color:#a6cc81;
	 border-top-color:#a6cc81;
	 margin-left: 40%;
}

.tabs-grid .tab-content
{
	margin-top: 10px;
	background-color: #a6cc81;
}

.tabs-grid .tab-content .box2
{
	background-color: #b5df8d;
}
.tabs-grid .tab-content .box
{
	min-height: 150px;
}


/* For main grid */

.main-grid
{
	padding-top: 25px;
	border-bottom: #eaeaea 20px solid;
}


.main-grid li
{
	float: left;
	display: block;
}



/*  Signing-signup grid  */
.signing-grid
{
	background-color: #F6F6F6;
	padding-bottom: 150px;
}

.signing-grid h3
{
	text-align: center;
}


.signing-grid .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
	background-color: #a6cc81;
	color: #FFFFFF;
}
.signing-grid .nav-pills > li > a
{
	border-radius: 0;
	background-color: #dadada;
	color: #434343;
}

.signing-grid .caret
{
	 position: absolute;
	 border-width: 7px 7px 0;
	 border-color: #f6f6f6 rgba(0, 0, 0, 0) -moz-use-text-color;
	 border-color: #f6f6f6 rgba(0, 0, 0, 0);
	 margin-left: 40%;
}

.signing-grid .active .caret
{
	 position: absolute;
	 border-width: 7px 7px 0;
	 border-bottom-color:#a6cc81;
	 border-top-color:#a6cc81;
	 margin-left: 40%;
}
.signing-grid .tab-content
{
	margin-top: 25px;
}


